extends layout 

block content 
    each msg in successes
        div.alert_succes
            p= msg
    each err in errors
        div.alert_error 
            p= err
    
    - var prev_values = {};
    if stored.length > 0
        - prev_values = stored[0];

    h1 New Course 
    if(err)
        div.alert_succes
            p= err
    form(method='POST' action='')
        div.for-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder="Name of the course", name="name", required='true')
        div.for-group
            label(for='image') Image:
            input#Descroption.form-control(type='text', placeholder="Describe the image of this course", name="image", required='true')
        div.for-group
            label(for='description') Description:
            input#Descroption.form-control(type='text', placeholder="Description of the course (optional)", name="description")
        div.for-group
            label(for='code') Code:
            input#code.form-control(type='text', placeholder="ECTS Code of the course (optional)", name="code")
        div.for-group
            label(for='school') School:
            input#school.form-control(type='text', placeholder="Name of the school the course is given at (optional)", name="school")
        div.for-group
            label(for='public') Public course:
            input#public.form-control(type='checkbox', name="public")
        button.btn.btn-primary(type='submit') Create course