extends layout

block content
    h1 Courses:

    h3 
        a(href='/courses/create') Create new course

        form(method='GET' action='')
            div.form-group
            input.form-control(type='text', placeholder='Enter course name here', name='searchTerm', required='true')
            button.btn.btn-primary(type='submit') Search

    ul
        each course in course_list
            li
                a(href=course.url) #{course.name} 
                if course.school != ""
                    |    - #{course.school} 
                if course.code != "" 
                    |    [#{course.code}]

        else
            li No courses where found