.courseModal{
    z-index: 10;
	top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
	transition: all 0.4s cubic-bezier(0.175,0.885,0.320,1.275);;
	position: fixed;

    perspective: 2500px;
}
  
.courseModal.hidden{
	transform: translate(-50%,-50%) scale(0);
	transition: all 0.4s cubic-bezier(.3,-0.87,.51,.73);
	z-index: -1;
}

.courseModal-inside{
    max-width: 300px;
    width: 500px;
    height: 350px;
	border-radius: 10px;

    background-color: var(--sidebar-color);

    transition: all 1s cubic-bezier(0.175,0.885,0.320,1.275);
    transform-style: preserve-3d;
    box-shadow: 1px 3px 3px rgba(0, 0,0,.2);

    transform: rotateX(-1deg) rotateY(1deg); /*This removes the weird blurry effect */
}

.courseModal-close{
	position: absolute;
    right:0;
	height: 25px;
	color: var(--text-color);
	transform: rotate(0);
	transition: all 0.2s ease;
}
.courseModal-back, .courseModal-share{
	margin-right: auto;
	height: 25px;
    scale: 0.75;
	color: var(--text-color);
	transform: rotate(0);
	transition: all 0.2s ease;
}

.courseModal-close:hover, .courseModal-back:hover, .courseModal-share:hover{
	color: var(--text-color);
	transform: rotate(90deg);
	transition: all 0.2s ease;
}

.courseModal-image{
	height: 60px;
    scale: 1;
    transform: translateY(0px);
    opacity: 1;
    user-select: none;
    transition: transform 1s cubic-bezier(0.175,0.885,0.320,1.275), opacity 1s ease;
}

.courseModal-image.reset{
	scale: 0;
    transform: translateY(-100px);
    opacity: 0;
    transition: all 1s cubic-bezier(0.175,0.885,0.320,1.275);
}

.courseModal-accept{
    font-family: "Poppins", sans-serif;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	color: var(--sidebar-color);;
	margin-left: 10px;
	transition: all 0.2s ease;
}

.courseModal-accept:hover{
	color: var(--sidebar-color);;
	margin-left: 10px;
	transform: scale(1.025);
	transition: all 0.2s ease;
}

.courseModal-decline{
    margin-top: 5px;
}
.courseModal-decline:hover{
    text-decoration: none;
    color: var(--text-color)
}



.courseModal-text{
	color: var(--text-color);
	font-family: "Poppins", sans-serif;
	margin-bottom: 15px;
	margin-top: 15px;
}

.courseModal-title{
    color: var(--text-color);
	font-family: "Poppins", sans-serif;
	margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

.courseModal-policy{
    font-weight: 500;
}

.courseModal .contents{
    backface-visibility: hidden;
    position: absolute;
    padding: 12px 16px;
    top: 0;
    left: 0;
}

.courseModal .depth{
    display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

    transform: translateZ(50px) scale(0.95);
    perspective: inherit;
    width: 275px;
}
.courseModal .front{
    background-size: 100% 100%;
    transform-style: preserve-3d;
}
.courseModal .back{
    transform: rotateY(180deg);
    background-size: 100% 100%;
    transform-style: preserve-3d;
}

    
.courseModalImage{
    width: 50%;
    border-radius: 10px;
}

.courseModalTitle{
    font-size: 25px;
}

.courseModalIcons i{
    margin-left: 10px;
}

.courseModalInfo{
    font-weight: bold;
}

.courseModalDetails{
    display: block;
}
.courseModalDetails.hidden{
    display: none;
}

.courseModalQR{
    display: block;
}
.courseModalQR.hidden{
    display: none;
}
.courseModalQR img{
    width: 75%;
    /* filter: brightness(0); */
}

#courseModalLink{
    margin-top: 5%;
}

#courseModalEdit{
    display: block;
}
#courseModalEdit.hidden{
    display: none;
}