.profileImage{
    width: 200px;
}
.profile-pic {
    color: transparent;
    transition: all 0.3s ease;  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}
.profile-pic input {
    display: none;
}
.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
    border-radius: 20px;
    z-index: 0;
}
.profile-pic .-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
    margin-bottom: 0;
}
.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 20px;
    margin-bottom: 0;
}
.profile-pic span, .profile-pic i {
    display: inline-flex;
    padding: 0.2em;
}



.profileNavbar {
	margin: 10px auto 0;
	position: relative;
	height: 50px;
	border-radius: 8px;
	font-size: 0;
}
.profileNavbar a{
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: var(--text-color);
	cursor: pointer;
}
.profileNavbar .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
.profileNavbar a:nth-child(1) {
	width: 100px;
}
.profileNavbar a:nth-child(2) {
	width: 200px;
}
.profileNavbar a:nth-child(3) {
	width: 100px;
}

.profileNavbar .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #ffffff9c;
}
.profileNavbar .start-general, a:nth-child(2):hover~.animation {
	width: 200px;
	left: 100px;
	background-color: #ffffff9c;
}
.profileNavbar .start-advanced, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 300px;
	background-color: #ffffff9c;
}


@media only screen and (max-width: 768px) {
	.profileNavbar {
		margin-bottom: 100px;
	}

    .profileNavbar a:nth-child(1) {
		width: 100%;
		height: 50px;
    }
    .profileNavbar a:nth-child(2) {
		width: 100%;
		height: 50px;
	}
	.profileNavbar a:nth-child(3) {
		width: 100%;
		height: 50px;
    }

    .profileNavbar .start-home, a:nth-child(1):hover~.animation {
        width: 100%;
		background-color: #ffffff9c;
		top: 0;
		left: 0;
    }
    .profileNavbar .start-general, a:nth-child(2):hover~.animation {
        width: 100%;
		background-color: #ffffff9c;
		top: 50px;
		left: 0;
	}
	.profileNavbar .start-advanced, a:nth-child(2):hover~.animation {
        width: 100%;
		background-color: #ffffff9c;
		top: 100px;
		left: 0;
    }

  }