body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.alert_succes,
.alert_error {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.alert_succes {
	background-color: #5cdd5c;
}

p{
	margin-bottom: 0;
}

.btn-primary:disabled{
    background-color: rgba(199,199,199,0.75);
    border-color: rgba(199,199,199,0.75);
}